{% extends base %}

{% block preamble %}
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"> -->
  <link rel="stylesheet" href="app/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="app/static/css/custom.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
{% endblock %}

{% block contents %}
<!-- Nav tabs -->
<ul class="nav nav-tabs bg-primary">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#summary">Summary</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#time_evolution">Time Evolution</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#trajectories">Trajectories</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">

  <div class="tab-pane container active" id="summary">
    <div class="container-fluid">
      <div class="col-sm-3">
        <div class="card card-body">
          <h4 style="color:#bdbdbf">Global cases:</h4>
          <h3>{{ summary["global_cases"] }}</h3>
          <p style="color:#ff6b6b;">+{{ summary["new_cases"] }}</p>
        </div>
      </div> 
      <div class="col-sm-3">
        <div class="card card-body">
          <h4 style="color:#bdbdbf">Global deaths:</h4>
          <h3>{{ summary["global_deaths"] }}</h3>
          <p style="color:#ff6b6b;">+{{ summary["new_deaths"] }}</p>
        </div>
      </div>
      <div class="col-sm-3"></div>
    </div>
  </div>

  <div class="tab-pane container fade" id="time_evolution">
    <div class="container-fluid">
      <div class="row">

        <div class="col-sm-2">
          {{ embed(roots.time_evolution_widgetbox) }}

          <div class="card">
                <div class="card-body">
                   <h6 class="card-title">Global cases:</h6>
                   {{ embed(roots.cases_div) }}
                </div>
           </div>

          <div class="card">
            <div class="card-body">
               <h6 class="card-title">Global deaths:</h6>
               {{ embed(roots.deaths_div) }}
            </div>
          </div>
        </div>
        
        <div class="col-sm-6">
          <div class="card">
            <div class="card-header">
              <h4>Geographical Time Evolution</h4>
            </div>
            <div class="card-body">
              {{ embed(roots.time_evolution_geo_plot) }}
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="card">
            <div class="card-header">
              <h4>Countries</h4>
            </div>
            <div class="card-body">
              {{ embed(roots.time_evolution_vbar_plot) }}
            </div>
          </div>
        </div>
            
      </div>
    </div>
  </div>
  
  <div class="tab-pane container fade" id="trajectories">
    <div class="container-fluid">
      <div class="row">

        <div class="col-sm-2">{{ embed(roots.trajectories_widgetbox) }}</div>
        
        <div class="col-sm-8">
          <div class="card">
            <div class="card-header">
              <h4>Country Trajectories</h4>
            </div>
            <div class="card-body">
              {{ embed(roots.trajectories_plot) }}
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>

{% endblock %}
